@import url("https://fonts.google.com/specimen/Poppins");

*
{
background-image:url("/images/bg-intro-desktop.png");
background-color:hsl(0, 100%, 74%);
font-family: 'Poppins', sans-serif;
color:white;
}

body
{
margin-top:10rem;
margin-left:15rem;
margin-right:15rem; 
}

.main
{
display:flex;
align-items:center;
gap:5rem;
}

.block-1
{
font-size:1.5rem;
width:50rem;
}

.block-1 p
{
font-size:1rem;
font-weight:500;
}

.block-2
{
display:flex;
flex-direction:column;
background-image:none;
margin:2rem;
padding:2rem;
width:50rem;
}

.block-2-top
{
width:500px;
padding:1.5rem;
border-color: hsl(248, 32%, 49%);
border-radius:0.5rem;
background-color:hsl(248, 32%, 49%);
background-image:none;
text-align:center;
box-shadow:0 7px 0 rgba(0,0,0,0.15);
}

.block-2-bottom
{
width:500px;
padding: 1.5rem;
background-color: white;
background-image:none;
border-radius:0.5rem;
box-shadow:0 7px 0 rgba(0,0,0,0.15);
}



.button-1
{
padding:1.2rem;
background-color:hsl(154, 59%, 51%);
background-image:none;
border-radius:0.5rem;
width:450px;
text-align:center;
font-color:white;
font-size:1rem;
} 

button
{
background-color:hsl(154, 59%, 51%);
background-image:none;
border:0;
}

input
{

border-radius:0.3rem;
background:white;
color: black;
font-weight:500;
padding:1rem;
margin-top:1rem;
width:450px;
}

.block-2-bottom p
{
color:hsl(206, 4%, 62%);
background-image:none;
background-color:white;
}

.block-2-bottom span
{
color:hsl(0, 100%, 74%);
background-image:none;
background-color:white;
font-weight:500;
}

p.msg
{
margin:0.5rem;
color:hsl(0, 100%, 74%);
text-align:right;
}

.newstyle::placeholder
{
color:white;
text-align:center;
 height: 25px;
  width: 25px;
  background-color: hsl(0, 100%, 74%);
  border-radius: 50%;
 }
