@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');



*
{
Font-family:'Bai Jamjuree', sans-serif;
text-align:center;
}


.head-img
{
width:100vw;
/* height:15rem; */
}

/* .head-logo
{
position:absolute;
left:45%;
right:45%;
top:5rem;
}  */

.buttons
{
width:max-content;
margin:auto;
border:none;
border-radius:2rem;
color:white;
}

.buttons.i1
{
padding:1rem;
background-color:hsl(171, 66%, 44%);
}

.buttons.m1
{
padding:1rem;
background-color:hsl(233, 100%, 69%);
}

p.p-clipb, p.access-c, p.tools-p, p.avail-p
{
width:35rem;
margin:auto;
margin-bottom:1em;
text-align:center;
}

p.p-snip
{
width:40rem;
margin:auto;
margin-bottom:3em;
text-align:center;
}

.container-1
{
display:flex;
}

.container-1-sub
{
display:flex;
flex-direction:column;
justify-content:center;
margin-left:5rem;
margin-right:5rem;
}

div.container-1-sub h3,p 
{
text-align:left;
}

.grid-container
{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap:3rem;
margin-left:25rem;
margin-right:25rem;
}

.con-img
{
margin:auto;
}

div.grid-container p
{
text-align:center;
}

.container-flex
{
display:flex;
justify-content:center;
margin:5em;
column-gap:4rem;
}

.logo-img
{
align-self:center;
}
.parent-footer
{
display:flex;
justify-content:center;
column-gap:15rem;
background:hsl(201, 25%, 95%);
}

.footer-2
{
display:grid;
grid-template-columns:1fr 1fr 1fr;
column-gap:5rem;
}

div.footer-2 h4
{
text-align:left;
}

.footer-3
{
display:flex;
column-gap:2rem;
}

.icon-img, .footer-1
{
align-self:center;
}

.footer-1
{
width:5rem;
}

.buttons.bottom
{
margin-top:2.5rem;
margin-bottom:5rem;
}
